.employees-table {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  font-size: 13px;
  padding: 0 1em;
  margin: 2em 0;
}

.employees-table > div {
  display: flex;
  align-items: center;
  border-top: 2px solid #ededed;
  padding: 1em;
}

.employees-table > div:nth-child(2),
.employees-table > div:nth-child(3) {
  border-left: 2px solid #ededed;
}

.employee__info {
  white-space: nowrap;
  overflow: auto;
}

.employee__info h3 {
  font-size: .87rem;
  margin: 0;
}

.employee__info {
  display: flex;
  align-items: center;
}

.employee__info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.employee__role span {
  font-size: .7rem;
  width: max-content;
  color: #fff;
  border-radius: 100px;
  white-space: nowrap;
  padding: 6px 8px;
  background-color: #101111;
}

.employee__time-in-job span {
  padding: 6px 8px;
  width: max-content;
  border-radius: 100px;
  border: 2px solid var(--gray-border);
  font-size: .7rem;
}

.employee__delete img {
  width: 20px;
  height: 20px;
}
