.employee__info {
  white-space: nowrap;
  overflow: auto;
}

.employee__info h3 {
  font-size: .87rem;
  margin: 0;
}

.employee__info {
  display: flex;
  align-items: center;
}

.employee__info img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
}

.employee__role {
  overflow: auto;
}

.employee__role span {
  font-size: .7rem;
  width: max-content;
  color: #fff;
  border-radius: 100px;
  white-space: nowrap;
  padding: 6px 8px;
  background-color: #101111;
}

.employee__time-in-job {
  overflow: auto;
}

.employee__time-in-job span {
  padding: 6px 8px;
  width: max-content;
  border-radius: 100px;
  border: 2px solid var(--gray-border);
  font-size: .7rem;
}

.employee__delete img {
  width: 20px;
  height: 20px;
}