.employees {
  padding: 0 1em;
  position: relative;
}

.employees h2 {
  font-size: 1.4rem;
  margin-bottom: 1.5em;
}

.employees > div {
  display: flex;
  justify-content: space-between;
}

.employees > div button {
  padding: 0 1em;
  max-width: 50%;
  height: 46px;
  font-size: 1rem;
  border-radius: 8px;
  background-color: transparent;
  border: 3px solid var(--gray-border);
  display: flex;
  align-items: center;
}

.employees > div button:first-child img {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 8fr;
}

.filter span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.employees > div button:last-child img {
  width: 15px;
  height: 15px;
  margin-right: 8px;
}

.filters-dropdown {
  display: grid;
  flex-direction: column;
  padding: 1em;
  border-radius: 8px;
  background-color: rgba(240, 240, 240, 1);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  position: absolute;
  top: 125px;
}

.filters-dropdown > div:not(:last-child) {
  margin-bottom: 10px;
}

.filters-dropdown > div:first-child {
  border-bottom: 2px solid #c3c3c3;
  padding-bottom: .5em;
}
